@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playwrite+MX:wght@100..400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000;
  font-family: "Inter", serif;
}

/* common styles */
.container {
  padding: 1.5rem 6rem;
  margin: 1.5rem 0;
}

.logo {
  font-size: 2rem;
  font-weight: 800;
  color: #e6533c;
  text-decoration: none;
  font-style: italic;
}

.desc {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  font-weight: 300;
}

.btn {
  padding: 0.6rem 3rem;
  border-radius: 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  font-weight: 500;

  &:hover {
    background-color: #e6533c;
    border: 1px solid transparent;
  }
}

.section_title {
  font-weight: 900;
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  font-size: 1.25rem;
  color: #fff;
}

.section_subtitle {
  margin-bottom: 1.5rem;
}

/* header styles */

header {
  background-image: linear-gradient(
    to bottom,
    rgba(17, 17, 17, 1),
    rgba(119, 119, 119, 0.03)
  );
}

/* navbar style */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .link_container {
  border-radius: 2.5rem;
  padding: 0.2rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.link_container a {
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1.25rem;
  border-radius: 2.5rem;

  &:hover {
    background-color: #e6533c;
  }

  &:first-child {
    background-color: #e6533c;
  }
}

nav .small_device_icon {
  color: #fff;
  display: none;
}



/* .banner styles */
header .banner {
  margin: 3rem 0 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner .banner_text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}

.banner_text .banner_title {
  font-size: 5rem;
  font-weight: 900;
  line-height: 4.7rem;

  & .italic {
    font-family: "Playwrite MX", serif;
    font-weight: 100;
    font-style: italic;
  }
}

.banner_text .banner_btn_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.banner .banner_image {
  width: 50%;
  height: 500px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  position: relative;
}

.banner_image .blur_item {
  padding: 1rem 1.5rem;
  backdrop-filter: blur(5px);
  border-radius: 0.75rem;
  position: absolute;

  & .circle {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e6533c;
  }
}

.blur_item:first-child {
  top: 16%;
  right: -10%;
  background-color: rgba(255, 255, 255, 0.1);
  border: rgba(255, 255, 255, 0.1);

  & h2 {
    font-size: 2.5rem;
  }
}

.blur_item:last-child {
  top: 70%;
  left: 30%;
  background-color: rgba(48, 48, 48, 0.54);
  display: flex;
  gap: 0.8rem;
  align-items: center;
  border: rgba(255, 255, 255, 0.1);

  & h3 {
    font-size: 1.5rem;
  }
}

/* .change_habits styles */
.change_habits {
  text-align: center;
}

.change_habits .habit_card_container {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.habit_card_container .habit_card {
  padding: 0.8rem;
  color: #fff;
}

.habit_card img {
  border-radius: 50%;
  width: 100%;
  border: 4px solid rgba(255, 255, 255, 0.1);
}

/* .extra_miles_section styles */
.extra_miles {
  margin: 3rem 6rem;
  display: flex;
  gap: 7rem;
  align-items: center;
  justify-content: space-between;
  background-color: #222;
  border-radius: 1.1rem;
  padding: 1.5rem;
}

.extra_mile_text {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
  align-items: flex-start;
}

.extra_mile_image {
  width: 100%;
  text-align: right;
  max-width: 450px;
  overflow: hidden;
  border-radius: 0.8rem;
}

.extra_mile_image img {
  width: 100%;
  object-fit: contain;
  object-position: top right;
  transform: scale(2.5);
  transform-origin: 70% 30%;
  zoom: 150%;
}

/* .bmi_calculator_sect styles */
.bmi_calculator_sect {
  color: #fff;
}

.bmi_calculator_sect > div:first-child {
  text-align: center;
}

.chart_calculator_container {
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

table,
th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
}

th,
td {
  padding: 1rem 1.5rem;
}

td {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

.bmi_calculator {
  max-width: 600px;
  margin-left: 5rem;
}

.bmi_form div {
  margin: 1.1rem 0;
  display: grid;
  gap: 0.6rem;
  grid-template-columns: 1fr 1fr;
}

.input_fields_container input,
.input_fields_container select {
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  outline: none;
}

.input_fields_container select[name="activity"] {
  grid-column: 1 / span 2;
}

/* .meat_team_section styles */
.meat_team {
  border-radius: 1.1rem;
  text-align: center;
}

.meat_team .team_member_container {
  margin-top: 2.5rem;
  display: grid;
  gap: 1.5rem;
  padding: 1.3rem;
  margin: 3rem 6rem;
  border-radius: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(255, 255, 255, 0.1);
}

.team_member_container .team_member {
  min-height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 1.1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  box-shadow: 2px 1px 3px rgba(255, 255, 255, 0.1);

  &:hover {
    transform: scale(1.03);
  }
}

.team_member_container .team_member:nth-child(1) {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../images/trainer1.png");
}
.team_member_container .team_member:nth-child(2) {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../images/trainer2.png");
}
.team_member_container .team_member:nth-child(3) {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../images/trainer3.png");
}
.team_member_container .team_member:nth-child(4) {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../images/trainer4.png");
}
.team_member_container .team_member:nth-child(5) {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../images/trainer5.png");
}
.team_member_container .team_member:nth-child(6) {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url("../images/trainer6.png");
}

/* footer styles */

footer {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}

footer > div {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 2.5rem;
  margin: 2.5rem 0;
  align-items: center;
  justify-content: space-between;
}

footer > div p {
  margin: 1.5rem 0;
  max-width: 450px;
}

footer .footer_link_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.footer_link_container a {
  text-decoration: none;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

footer .copyright {
  text-align: center;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  font-stretch: extra-expanded;
  margin: 1.5rem;
}

hr {
  border: 0.2px solid rgba(255, 255, 255, 0.1);
}

.hidden {
  display: none;
}

@media screen and (min-width: 577px) and (max-width: 778px) {
  .container {
    padding: 0.8rem 1rem;
  }

  .banner {
    flex-direction: column;
  }

  .change_habits .habit_card_container {
    grid-template-columns: 1fr 1fr;
  }

  .habit_card img {
    width: 75%;
  }

  /* .banner_text .banner_title {
    font-size: 3rem;
  } */
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0.8rem 1rem;
  }

  .btn {
    font-size: 0.8rem;
  }

  nav .link_container {
    display: none;
  }

  nav .small_device_icon {
    display: block;
  }

  .banner {
    flex-direction: column;
  }

  .banner .banner_text,
  .banner .banner_image {
    width: 100%;
    text-align: center;
  }

  .banner_text .banner_title {
    font-size: 3rem;
  }

  .banner .banner_image {
    margin-top: 4rem;
    background-position: center;
  }

  .banner_image .blur_item {
    padding: 0.7rem;
    text-align: left;
  }

  .blur_item:first-child {
    top: 10%;
    right: 5%;
  }

  .blur_item:last-child {
    top: 45%;
    left: 8%;
  }

  .blur_item:first-child h2 {
    font-size: 1.5rem;
  }

  .blur_item:last-child h3 {
    font-size: 1.1rem;
  }

  .change_habits .habit_card_container {
    grid-template-columns: 1fr;
  }

  .habit_card img {
    width: 60%;
  }

  .extra_miles {
    margin: 3rem 1rem;
    flex-direction: column;
    gap: 3rem;
  }

  .extra_mile_text {
    width: 95%;
    align-items: center;
  }

  .chart_calculator_container {
    flex-direction: column;
    padding: 3rem 1rem;
    gap: 2.5rem;
    /* align-items: stretch; */
  }

  .bmi_calculator {
    margin-left: 0;
    padding: 0 2.5rem;
  }

  .bmi_calculator .desc {
    text-align: justify;
  }

  .meat_team .team_member_container {
    margin: 3rem 1rem;
    grid-template-columns: 1fr;
  }

  .input_fields_container input,
  .input_fields_container select {
    min-width: 7rem;
  }

  footer > div {
    text-align: center;
    grid-template-columns: 1fr;
  }
}
